body{
	background-image: url("Images/kirakira.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#jukebox{
	width: 300px;
	height: 100px;
	display: block;
	background: linear-gradient(red, white);
	border-style: ridge;
	border-width: 10px;
	border-color: yellow;
	border-radius: 40px;
	position: relative;
	margin: 0 auto;
	margin-top: 23%;
	z-index: 10;
}

#track0{
	display: none;
	position: absolute;
	left: 25%;
	top: -10%;
	z-index: 1;
}

#track1{
	display: none;
	position: absolute;
	left: 28%;
	top: -5%;
	z-index: 1;
}

#track2{
	display: none;
	position: absolute;
	left: 25%;
	top: -10%;
	z-index: 1;
}

#track3{
	display: none;
	position: absolute;
	left: 28%;
	top: -5%;
	z-index: 1;
}

#track4{
	display: none;
	position: absolute;
	left: 20%;
	top: -10%;
	z-index: 1;
}

#play{
	display: block;
	position: absolute;
	right: 110px;
	top: 30px;
}

#pause{
	display: block;
	position: absolute;
	right: 60px;
	top: 30px;
}

#skip{
	display: block;
	position: absolute;
	right: 10px;
	top: 30px;
}
/*#album-artwork{
	display: block;
}*/